#canvas {
    z-index: -3;
    position: fixed;
}

#canvas svg {
  overflow: hidden;
  position: relative;
}

.cont {
  position: relative;
  box-shadow: inset 0 0 0 5px #add;
}

html, body {
  width: 100%;
  height: 100%;
}

#svg {
  background: #eee;
  display:block;
  width:100%;
  height:100%;
}

.overlay {
  position: absolute;
  background: rgba(100,100,100,0);
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

.testline {
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges;
  stroke-dasharray: 5;
}

.circle {
  position: absolute;
  border-radius: 50%;
  // background: lightblue;
  border: 1px solid #31708F;
  // width: 10px;
  // height: 10px;
}
