div.doc {
  opacity: 1;
  position: relative;
}

// .tooltip {outline:none; }
.doc tooltip strong {margin-bottom:30px;}

.doc .content {
    // display: none;
    // padding: 14px 20px;
    // margin-top:60px; margin-left:-160px;
    // color: black;
    width: 100px;
    height: 100px;
    // margin-left: -100px;
    // margin-top: -100px;
    line-height: 16px;
    display: inline;
    position: absolute;
    border: 1px solid #FF851B;
    // background: #FF851B;
    border-radius: 10px;
    // box-shadow: 0px 0px 8px 4px #666;
}

div.tag {
  opacity: 1;
  position: relative;
}

// .tooltip {outline:none; }
.tag tooltip strong {margin-bottom:30px;}

.tag .content {
    // ackground: #FF851B;
    // display: none;
    // padding: 14px 20px;
    // margin-top:60px; margin-left:-160px;
    // color: black;
    // margin-left: -100px;
    // margin-top: -100px;
    // width: 200px;
    // height: 200px;
    line-height: 16px;
    display: inline;
    position: absolute;
    border: 1px solid gray;
    // background: #FF851B;
    border-radius: 10px;
    // box-shadow: 0px 0px 8px 4px #666;
}
