#tagCloud {
  // position: absolute;
}

.word {
    // display: inline-block;
    // line-height: 150%;
    // margin-right: 2.5em;
    // margin-bottom: .7em;
    position: absolute;
    border:1px solid black;
    white-space: nowrap;
}

.link {
  fill: none;
  stroke: #bbb;
  opacity: 0.2;
}

// .tagCloud span.count {
//     display: none;
// }
//
// .tagCloud .notVeryPopular {
//     font-size: 1.2em;
// }
